/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-image: url(morning.jpg);
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.web-grid {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 1.5rem;
  grid-template-areas:
    "left content content right"
    ".    content content      ."
    ".    content content      .";
  /* background-color: rgb(34, 35, 35); */
  background-color: #ecf0f4;
  opacity: 99%;
}

#leftInfo {
  /* border-style: solid; */
  grid-area: left;
  background-color: #fcfdff;
  width: 80%;
  position: sticky;
}

.contact-details {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    margin: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.contact-details:hover {
  transform: scale(1.05);
}

#mainInfo {
  /* border-style: dotted; */
  grid-area: content;
  background-color: whitesmoke;
}

#rightInfo {
  /* border-style: dashed; */
  grid-area: right;
  background-color: #fcfdff;
}

.tidbits {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.tidbits:hover {
  transform: scale(1.05);
}

#footerInfo {
  /* border-style: dashed; */
  background-color: black;
}

#summaryOfMe {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "picture info info"
    "final final final";
  grid-auto-columns: 1fr;
  gap: 1.5rem;
  padding-block: 2rem;
  margin-inline: auto;
  background-color: #ecf0f4;
  /* height:100vh; */
}

.pictureOfMe {
  grid-area: picture;
  /* border-style: dashed; */
}

.info {
  grid-area: info;
  /* border-style: solid; */
  background: #fcfdff;
  border-radius: 10px;
  padding: 0.5rem;
}
.final {
  grid-area: final;
  /* border-style: dotted; */
  background: #fcfdff;
  border-radius: 10px;
  padding: 0.5rem;
}

/* 1638 x 2048 */
/* .resume {
  width: 20vw;
  height: 20vw * 1.25;
} */

.pictureOfMe > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.pictureOfMe > img:hover {
  content: url(jobImageTwo.jpeg);
  /* object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px; */
}

.info > p {
  text-align: justify;
  /* border-style: solid; */
  padding: 1vw;
}

.final > p {
  text-align: justify;
  padding: 1vw;
}

/*
@media (max-width: 90rem) {
  .web-grid {
    grid-template-areas:
      "left content content right"
      ".    content content    ."
      ".    content content    .";
  }

  #summaryOfMe {
    grid-template-areas: 
    "picture picture"
    "info info"
    "final final"
    "final final";
  }
}

*/


/* 
@media (min-width: 50000em) {
  .web-grid {
    grid-template-areas:
      "left"
      "content"
      "right";
  }
} */

.burger-menu {
  display: none;
}

.burger-menu-button {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 10;
  padding: 1vw;
}

.burger-menu-button span {
  background-color: orange;
  height: 5px;
  width: 100%;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.burger-menu:checked + .burger-menu-button span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger-menu:checked + .burger-menu-button span:nth-child(2) {
  opacity: 0;
}

.burger-menu:checked + .burger-menu-button span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.burger-menu:checked ~ .menu {
  transform: translateX(0);
}

.hidden-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20vw;
  background: grey;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9;
  padding-top: 5vw;
}

.burger-menu:checked ~ .hidden-menu {
  transform: translateX(0);
}

@media (max-width: 90rem) {
  .web-grid {
    grid-template-areas:
      "left"
      "content"
      "right";
  }

  #summaryOfMe {
    grid-template-areas: 
    "picture info info"
    "picture info info"
    "final final final"
    "final final final";
  }
}

@media (max-width: 50rem) {
  .web-grid {
    grid-template-areas: 
    "left"
    "content"
    "right";
  }

  #summaryOfMe {
    grid-template-areas: 
    "picture picture"
    "info    info"
    "final   final";
  }

  .hidden-menu {
    width: 40%;
  }
}